DataTable {
    height: 1fr;
}

DataTable > .datatable--header {
    background: #CD853F;
    color: #000000;
    height: 1.2;
}

DataTable > .datatable--cursor {
    background: #FFDAB9;
    color: #000000;
}

Footer {
    background: #CD853F;
}
